<!doctype html>
<html>
    <head>
        <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css" />
        <style>
            body {
                font-family: "Pretendard Variable";
            }
        </style>
    </head>
    <body class="p(40/50) hbox(stretch) space-between">
        <h1 class="font(40) 600">
            enz-pixi
            <a href="https://github.com/dalkak2/enz-pixi">
                <svg width="24" height="24" viewBox="0 0 16 16" fill="currentColor"><path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path></svg>
            </a>
        </h1>
        <div id="app" class="font(24) text-align(right)"></div>
        <script type="module">
            import { reactive, html } from "https://esm.sh/@arrow-js/core@1.0.0-alpha.9"

            const data = reactive({
                id: "652371adb7aa680135cc2070",
            })

            const a = dir => html`
                <a
                    href="${() => `${dir}/${data.id}`}"
                    target="_blank"
                >
                    ${dir}/${() => data.id}
                </a>
            `
            
            html`
                <input
                    type="text"
                    class="b(0) focus:outline(none) text-align(right)"
                    value="${() => data.id}"
                    @input="${e => data.id = e.target.value}"
                    autofocus
                >
                <br>
                ${a("/p")}<br>
                ${a("/api/js")}<br>
                ${a("/api/project")}<br>
                ${a("https://playentry.org/project")}<br>
            `(document.getElementById("app"))
        </script>
        <script src="https://unpkg.com/adorable-css@1.4.3/index.js"></script>
    </body>
</html>